<div class="form-group string" data-controller="request">
  <h2>Collection</h2>
  <div id="request_datepicker"></div>
  <span id="availability"
        data-available="<%= @available %>"
        data-not-confirmed-as-available="<%= @not_confirmed_as_available %>"
        data-unavailable="<%= @unavailable %>"
        data-unconfirmed="<%= @unconfirmed %>">
  </span>
  <input id="request_datepicker_input" type="hidden" name="collection_dates">
  <input id="request_datepicker_delivery_input" type="hidden" name="delivery_dates">
  <input id="selected-uncertain" type="hidden" name="selected-uncertain">
</div>
<div>
  <button id="more-dates-btn" class="btn btn-outline-success" type="button" data-bs-toggle="collapse"
          data-bs-target="#more-dates" aria-expanded="false" aria-controls="more-dates">
    Looking for a different date?
  </button>
</div>
<div class="form-group string">
  <div class="collapse" id="more-dates">
    <div class="card card-body">
      <u>Please select one or more of the following dates, and we will confirm your booking when we know whether we are available on one of them.</u>
      <div id="datepicker-uncertain-days"></div>
    </div>
  </div>
</div>
<hr />
<h2>Delivery</h2>
<div id="delivery-initial-text">Delivery is usually 2 days after collection.</div>
<div id="delivery-date-text" style="display: none">Delivery will be booked for <span id="delivery-date-label">?</span>.</div>
<div id="delivery-multiple-dates-text" style="display: none">Delivery requested for one of the dates you selected. We will contact you if we are not available on any of them.</div>
<div id="delivery-date-options" style="display: none">
  <button id="delivery-dates-btn" class="btn btn-outline-success" type="button" data-bs-toggle="collapse"
          data-bs-target="#delivery-dates" aria-expanded="false" aria-controls="delivery-dates">
    Looking for a different delivery date?
  </button>
  <div class="form-group string">
    <div class="collapse" id="delivery-dates">
      <div class="card card-body">
        <div id="datepicker-delivery-days"></div>
      </div>
    </div>
  </div>
</div>
<div id="more-delivery-dates-options" style="display: none">
  <button id="more-delivery-dates-btn" class="btn btn-outline-success" type="button" data-bs-toggle="collapse"
          data-bs-target="#more-delivery-dates" aria-expanded="false" aria-controls="more-delivery-dates">
    More delivery dates (we might not be available on those)
  </button>
  <div class="form-group string">
    <div class="collapse" id="more-delivery-dates">
      <u>Please select one or more of the following dates, and we will confirm your delivery when we know whether we are available on one of them.</u>
      <div class="card card-body">
        <div id="datepicker-more-delivery-days"></div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="form-group string">
  <%= form.label :additional_requirements, 'Additional requirements', class: "control-label string" %>
  <%= form.text_area :additional_requirements, class: "form-control string" %>
  <p id="additional-requirements-info">If you have additional requirements, then the requested booking will need to be confirmed by us.</p>
</div>
