<%= link_to 'Back', root_path, class: 'btn btn-outline-primary btn-lg', role: 'button' %>
<h2>Make a booking</h2>

<hr />

<%= form_with url: create_request_path do |form| %>
  <%= render partial: 'new_request_form', locals: { form: form } %>
  <%= form.submit "Submit", id: 'submit-request', class: "btn btn-primary", disabled: true %>
<% end %>

