{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/home/rocky/app/log/production.log",
            "log_group_name": "Main_log_{{ env }}",
            "log_stream_name": "Customer app"
          }
        ]
      }
    }
  }
}