#!/bin/bash
aws s3 sync s3://certificates-{{ env }}/{{ domain_name }} /home/rocky/.acme.sh/{{ domain_name }}
bash ~/.acme.sh/acme.sh --issue -d {{ domain_name }} --server letsencrypt --standalone \
  --pre-hook "sudo systemctl stop nginx" \
  --post-hook "sudo systemctl start nginx && sudo aws s3 sync /home/rocky/.acme.sh/{{ domain_name }} s3://certificates-{{ env }}/{{ domain_name }}"
sudo systemctl reload nginx
