<div class="center" data-controller="link">
  <%= link_to 'Back', root_path, class: 'btn btn-outline-primary btn-lg', role: 'button' %>
  <br />
  <%= form_with url: submit_phone_path, id: 'link-form' do |form| %>
    <br />
    <div class="form-group string">
      <%= form.label :phone, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Mobile number
      <% end %>
      <%= form.text_field :phone, class: "form-control string input_width", required: true %>
      <div class="invalid-feedback" id="invalid-phone"></div>
    </div>
    <div>
      <input type="checkbox" id="agreement" name="agreement" required>
      <label for=agreement><strong>I agree that the data I provide will be stored, together with all my booking data,
        will be used for the purpose of providing an ironing service. For more information,
        see: <a href="/data_we_store.html" target="_blank">Data we store about you</a></strong></label>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>