<div class="center" data-controller="registration">
  <%= link_to 'Back', root_path, class: 'btn btn-outline-primary btn-lg', role: 'button' %>
  <hr />
  <h2>Register</h2>
  <%= form_for :customer_registration, url: registration_index_path, id: 'registration-form' do |form| %>
    <div class="form-group string">
      <%= form.label :first_name, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        First name
      <% end %>
      <%= form.text_field :first_name, class: "form-control string input_width", required: true %>
    </div>
    <div class="form-group string">
      <%= form.label :last_name, class: "control-label string" do %>
        Last name
      <% end %>
      <%= form.text_field :last_name, class: "form-control string input_width" %>
    </div>
    <div class="form-group string">
      <%= form.label :phone_mobile, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Mobile number
      <% end %>
      <%= form.text_field :phone_mobile, class: "form-control string input_width", required: true %>
      <div class="invalid-feedback" id="invalid-phone-mobile"></div>
    </div>
    <div class="form-group string">
      <%= form.label :phone_home, class: "control-label string" do %>
        Home number
      <% end %>
      <%= form.text_field :phone_home, class: "form-control string input_width" %>
      <div class="invalid-feedback" id="invalid-phone-home"></div>
    </div>
    <div class="form-group string">
      <%= form.label :email, class: "control-label string" do %>
        Email
      <% end %>
      <%= form.text_field :email, class: "form-control string input_width", type: 'email' %>
    </div>
    <div class="form-group string">
      <%= form.label :password, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Password
      <% end %>
      <%= form.password_field :password, class: "form-control string input_width", required: true %>
      <div class="invalid-feedback">Password needs to contain at least 6 characters.</div>
    </div>
    <div class="form-group string">
      <%= form.label :password_confirmation, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Password confirmation
      <% end %>
      <%= form.password_field :password_confirmation, class: "form-control string input_width", required: true %>
      <div class="invalid-feedback">Password mismatch.</div>
    </div>
    <div class="form-group string">
      <abbr title="required">*</abbr>
      <%= form.label :payment_scheme, class: "control-label string" do %>
        Payment scheme
      <% end %>
      <br />
      <p>
        <%= form.radio_button :payment_scheme, :flat_rate, required: true %>
        <%= form.label :payment_scheme, 'Per hour', value: :flat_rate %>
        <abbr title="Payment for ironing is per hour of work for our ironers">?</abbr>
        <br />
        <%= form.radio_button :payment_scheme, :itemized, required: true %>
        <%= form.label :payment_scheme, 'Per item', value: :itemized %>
        <abbr title="Payment for ironing is calculated from the articles of clothing">?</abbr>
      </p>
      <p>
      </p>
    </div>
    <div class="form-group string">
      <abbr title="required">*</abbr>
      <%= form.label :address, class: "control-label string" do %>
        Address
      <% end %>
      <%= form.text_field :address, class: "form-control string input_width", required: true %>
    </div>
    <div class="form-group string">
      <%= form.label :post_code, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Post code
      <% end %>
      <%= form.text_field :post_code, class: "form-control string input_width", required: true %>
    </div>
    <br />
    <h2>Make a booking</h2>
    <hr />
    <div class="alert-red" id="required-booking" hidden>Please select a collection date for your first booking.</div>
    <%= render partial: 'booking_requests/new_request_form', locals: { form: form } %>
    <br />
    <div>
      <input type="checkbox" id="agreement" name="agreement" required>
      <label for=agreement><strong>I agree that the data I provide will be stored, together with all my booking data,
        will be used for the purpose of providing an ironing service. For more information,
        see: <a href="/data_we_store.html" target="_blank">Data we store about you</a></strong></label>
    </div>
    <%= form.submit "Submit", id: 'submit-registration', class: "btn btn-primary" %>
  <% end %>
</div>