<div class="center">
  <%= link_to 'Home', root_path, class: 'btn btn-outline-primary btn-lg', role: 'button' %>
  <br />
  <%= form_with url: complete_account_path, id: "set-password-form", data: { controller: 'set-password' } do |form| %>
    <p id="password-mismatch-message" class="alert-red" hidden>Password mismatch.</p>
    <div class="form-group string">
      <%= form.label :password, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        New password
      <% end %>
      <%= form.password_field :password, class: "form-control string input_width", required: true %>
    </div>
    <div class="form-group string">
      <%= form.label :password_confirmation, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Password confirmation
      <% end %>
      <%= form.password_field :password_confirmation, class: "form-control string input_width", required: true %>
    </div>
    <%= form.hidden_field :code, value: params[:code] %>
    <%= form.hidden_field :phone, value: params[:phone] %>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>