<% if data[key].present? %>
  <% displayed_key = key.capitalize.gsub('_', ' ') if local_assigns[:displayed_key].nil? %>
  <tr>
    <th class="w-25"><%= displayed_key %></th>
    <td><%= data[key] %></td>
  </tr>
<% end -%>