<div class="center">
  <p>Welcome to Cheap ironing services. New customers:</p>
  <%= link_to 'Register', new_registration_path, class: 'btn btn-outline-primary btn-lg', role: 'button' %>
  <hr />
  <p>Existing customers:</p>
  <%= link_to 'Link account', registration_link_path, class: 'btn btn-outline-primary btn-lg', role: 'button' %>
  <hr />
  <%= form_with url: login_path do |form| %>
    <div class="form-group string">
      <%= form.label :phone, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Mobile number
      <% end %>
      <%= form.text_field :phone, class: "form-control string input_width", required: true %>
    </div>
    <div class="form-group string">
      <%= form.label :password, class: "control-label string" do %>
        <abbr title="required">*</abbr>
        Password
      <% end %>
      <%= form.password_field :password, class: "form-control string input_width", required: true %>
    </div>
    <%= form.submit "Log in", class: "btn btn-primary" %>
  <% end %>
  <hr />
  <%= link_to 'Forgotten password', registration_link_path, class: 'btn btn-outline-primary btn-sm', role: 'button' %>
</div>
