/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-datepicker.standalone.min.css";

#notice {
  color: green;
}

#alert {
  color: red;
}

.alert-red {
  color: red;
}

#notifications-div {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: lightgrey;
}

.center {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 40%;
  width: 100%;
}

.input_width {
  width: 60%;
  margin: 0 auto;
}

.center .datepicker.datepicker-inline {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

#customer_registration_additional_requirements {
  @extend .input_width;
}
