<!DOCTYPE html>
<html lang="en" <%= cookies[:dark_mode] ? "data-bs-theme=dark" : '' %>>
  <head>
    <title>Ironing</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&v=3.exp" data-turbolinks-track="reload"></script>
    <script data-turbolinks-track="reload">
        window.VAPID_PUBLIC_KEY = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>);
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% css_class = {'alert' => 'warning', 'notice' => 'success'}.fetch(key, key) %>
      <div class="alert alert-<%= css_class %>" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right;"></button>
      </div>
    <% end %>
    <br />
    <%= yield %>
  </body>
</html>
